Repository SandeepVashishtha/Eventra, pull requests merged in 2025-08, with the labels that each got.

#26 feat: updated footer with accurate and consistent social icons
  frontend/src/App.css
  frontend/src/components/Footer.js
Labels: gssoc25, level-1, GSSoC

#24 implemented cookie based jwt and spring security for authentication
  backend/pom.xml
  backend/src/main/java/com/eventra/Configuration/SecurityConfiguration.java
  backend/src/main/java/com/eventra/Controller/AuthenticityController.java
  backend/src/main/java/com/eventra/Controller/LoginController.java
  backend/src/main/java/com/eventra/Controller/LogoutController.java
  backend/src/main/java/com/eventra/Controller/RegisterationController.java
  backend/src/main/java/com/eventra/Dao/UserAuthRepo.java
  backend/src/main/java/com/eventra/Dto/UserDto.java
  backend/src/main/java/com/eventra/Filter/JwtFilter.java
  backend/src/main/java/com/eventra/Filter/OriginValidationFilter.java
  backend/src/main/java/com/eventra/SecurityConfig.java
  backend/src/main/java/com/eventra/StatusController.java
  backend/src/main/java/com/eventra/Utility/JwtUtils.java
  backend/src/main/java/com/eventra/controller/AdminController.java
  backend/src/main/java/com/eventra/controller/AuthController.java
  backend/src/main/java/com/eventra/controller/UserController.java
  backend/src/main/java/com/eventra/dto/AuthResponse.java
  backend/src/main/java/com/eventra/dto/LoginRequest.java
  backend/src/main/java/com/eventra/dto/MessageResponse.java
  backend/src/main/java/com/eventra/dto/SignupRequest.java
  backend/src/main/java/com/eventra/entity/User.java
  backend/src/main/java/com/eventra/filter/JwtAuthenticationFilter.java
  backend/src/main/java/com/eventra/model/User.java
  backend/src/main/java/com/eventra/repository/UserRepository.java
  backend/src/main/java/com/eventra/service/AuthService.java
  backend/src/main/java/com/eventra/service/CustomUserDetailsService.java
  backend/src/main/java/com/eventra/service/JwtTokenBlackListService.java
  backend/src/main/java/com/eventra/util/JwtUtil.java
  backend/src/main/resources/application.properties
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/AppRouter.jsx
  frontend/src/Login.jsx
  frontend/src/Logout.jsx
  frontend/src/OAuthLogin.jsx
  frontend/src/ProtectedRoute.jsx
  frontend/src/Register.jsx
  frontend/src/components/Navbar.js
  frontend/src/components/useCookieAuthCheck.js
  frontend/src/index.js
Labels: enhancement, gssoc25, GSSoC, level-2

#52 fixed color registration open
  frontend/src/components/components.css
  frontend/src/index.css
Labels: gssoc25, level-1, GSSoC

#60 fix navbar position to view good in mobile devices
  frontend/src/components/shared-layout.css
Labels: gssoc25, GSSoC, level-2

#62 Issue 28 Fixed:Ui enhancement of landing-page
  frontend/src/App.css
  frontend/src/components/Features.js
  frontend/src/components/Hero.js
  frontend/src/components/Navbar.js
  frontend/src/components/Testimonials.js
  frontend/src/components/WhatsHappening.js
  frontend/src/components/components.css
  frontend/src/components/shared-layout.css
Labels: gssoc25, GSSoC, level3

#69 Improvement : Button dosen't disappear when hovered
  frontend/src/App.css
  frontend/src/components/components.css
Labels: gssoc25, GSSoC, level-2

#71 Enhanced Project Card on Eventra Projects Page
  frontend/src/components/ProjectGallery.js
Labels: gssoc25, GSSoC, level-2

#77 feat: Implement dynamic navbar with user profile dropdown (#67)
  backend/src/main/java/com/eventra/controller/UserController.java
  frontend/src/components/Navbar.js
  frontend/src/components/auth/Login.js
  frontend/src/components/shared-layout.css
Labels: enhancement, gssoc25, GSSoC, level3

#78 feat: Modernize login and signup UI with Tailwind CSS
  frontend/public/index.html
  frontend/src/components/auth/Login.js
  frontend/src/components/auth/Signup.js
Labels: enhancement, gssoc25, GSSoC, level-2

#93 Add target and rel attributes for security
  frontend/src/components/Community.js
Labels: enhancement, good first issue, gssoc25, level-1, GSSoC

#103 Added Tailwind CSS & Enhanced Responsive Navbar
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/Hero.js
  frontend/src/components/Navbar.js
  frontend/src/index.css
Labels: enhancement, gssoc25, GSSoC, level3

#106 Footer Redesign, Homepage UI Finishing, and Enhanced Contributors Page #102
  frontend/src/components/Community.js
  frontend/src/components/Contributors.js
  frontend/src/components/Footer.js
Labels: enhancement, gssoc25, GSSoC, level3

#113 Add Dynamic GitHub Repository Stats Component
  frontend/src/components/Contributors.js
  frontend/src/components/GitHubStats.jsx
  package-lock.json
  package.json
Labels: enhancement, gssoc25, GSSoC, level-2

#107 Frontend Restructuring: Organized Files by Role & Improved Project Structure
  frontend/src/App.js
  frontend/src/Pages/About/AboutPage.js
  frontend/src/Pages/Events/EventsPage.js
  frontend/src/Pages/Hackathons/HackathonPage.js
  frontend/src/Pages/Home/HomePage.jsx
  frontend/src/Pages/Home/components/Community.js
  frontend/src/Pages/Home/components/Features.js
  frontend/src/Pages/Home/components/Hero.js
  frontend/src/Pages/Home/components/Testimonials.js
  frontend/src/Pages/Home/components/WhatsHappening.js
  frontend/src/Pages/Projects/ProjectsPage.js
  frontend/src/components/Layout/Footer.js
  frontend/src/components/Layout/Navbar.js
  frontend/src/components/ScrollToTop.js
  frontend/src/components/scrolltotopButton.js
  frontend/src/components/styles/Contributors.css
  frontend/src/components/styles/components.css
  frontend/src/components/styles/scrolltotopButton.css
  frontend/src/components/styles/shared-layout.css
Labels: enhancement, gssoc25, GSSoC, level3

#108 Events Page Revamp – UI Update, Search, and Create Event Redirect
  frontend/src/Pages/Events/EventsPage.js
  frontend/src/Pages/Events/eventsMockData.json
  frontend/src/components/styles/EventSection.css
Labels: enhancement, gssoc25, GSSoC, level3

#123 Remade About Page & Fixed Inconsistent Dark Color Issues Across Events/Hackathons
  frontend/src/Pages/About/AboutPage.js
  frontend/src/Pages/Events/EventsPage.js
  frontend/src/Pages/Hackathons/HackathonPage.js
  frontend/src/Pages/Projects/ProjectsPage.js
Labels: enhancement, gssoc25, GSSoC, level-2

#125 Add smooth scroll-to-top on route change
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Pages/About/AboutPage.js
  frontend/src/Pages/Events/EventsPage.js
  frontend/src/Pages/Hackathons/HackathonPage.js
  frontend/src/Pages/Home/components/Hero.js
  frontend/src/Pages/Projects/ProjectsPage.js
  frontend/src/components/Contributors.js
Labels: bug, enhancement, gssoc25, GSSoC, level-2
