Repository SandeepVashishtha/Eventra, pull requests merged in 2025-09, with the labels that each got.

#137 add today or yesterday on last update
  frontend/src/Pages/Home/components/GitHubStats.jsx
Labels: enhancement, gssoc25, GSSoC, level-2

#141 Update Project entity and enable backend tests
  backend/src/main/java/com/eventra/entity/Project.java
  backend/src/test/java/com/eventra/BackendApplicationTests.java
Labels: enhancement

#114 added dyanimc leaderboard
  frontend/src/components/Layout/Navbar.js
  frontend/src/components/Leaderboard.js
  frontend/src/components/Leaderboard.jsx
Labels: enhancement, gssoc25, GSSoC, level3

#159 Added README.md to Backend
  backend/README.md
Labels: documentation, gssoc25, GSSoC, level-2

#164 revamped about page with modern design and animation
  frontend/src/Pages/About/AboutPage.js
  frontend/src/Pages/About/Features.js
  frontend/src/Pages/About/MissionVision.js
  frontend/src/Pages/About/ModernAbout.js
Labels: enhancement, gssoc25, GSSoC, level3

#166 removed features section
  frontend/src/Pages/Home/HomePage.jsx
  frontend/src/Pages/Home/components/Features.js
Labels: enhancement, gssoc25, GSSoC, level-2

#169 Reworked Leaderboard UI & Added One-Hour Data Caching (#167)
  frontend/.env.example
  frontend/src/App.js
  frontend/src/Pages/Leaderboard/Leaderboard.jsx
  frontend/src/components/Leaderboard.jsx
Labels: enhancement, gssoc25, GSSoC, level3

#181 Create pull request template for contributions
  .github/pull_request_template.md
Labels: gssoc25, GSSoC, level-2

#184 Add auto comment workflow for new pull requests
  .github/workflows/pr-create-automate-message.yml
Labels: gssoc25, GSSoC, level-2

#188 Password Reset Routed
  frontend/src/App.js
Labels: enhancement, gssoc25, GSSoC, level-2

#191 Revamped Project Hero Section
  frontend/src/Pages/Projects/ProjectHero.js
  frontend/src/Pages/Projects/ProjectsPage.js
Labels: enhancement, gssoc25, GSSoC, level3

#193 Revamp Hackathon Hero Page
  frontend/src/Pages/Hackathons/HackathonHero.js
  frontend/src/Pages/Hackathons/HackathonPage.js
  frontend/src/Pages/Projects/ProjectsPage.js
  package-lock.json
  package.json
Labels: enhancement, gssoc25, GSSoC, level3

#200 revamped github section
  frontend/src/Pages/Home/components/GitHubStats.jsx
Labels: gssoc25, GSSoC, level-2

#205 ✨ Revamp Navbar: Home Link, Active States, Buttons, Glassmorphism & Logo Shimmer
  frontend/build/favicon.ico
  frontend/build/manifest.json
  src/components/Layout/Navbar.js
  src/components/Layout/NavbarLink.js
Labels: gssoc25, GSSoC, level3

#206 Fix: Contact Us link redirection issue in Footer
  src/components/Layout/Footer.js
Labels: enhancement, gssoc25, GSSoC, level-2

#212 Add Login Form Validation
  src/components/auth/Login.js
Labels: gssoc25, GSSoC, level-2

#219 Fix Horizontal Scrolling
  src/index.css
Labels: gssoc25, GSSoC, level-2

#225 Fixed Navbar Mobile responsiveness and UI
  src/components/Layout/Navbar.js
  src/index.css
Labels: gssoc25, GSSoC, level3

#228 fix dropdown for profile
  src/components/Layout/Navbar.js
Labels: gssoc25, GSSoC, level-2

#229 Add FirstName and LastName Validation in Signup Form
  src/components/auth/Signup.js
Labels: gssoc25, GSSoC, level-2

#230 Add Confirm Password Field in SignUp Form
  src/components/auth/Signup.js
Labels: gssoc25, GSSoC, level-2

#298 Add Contributor Guide Page to Eventra
  src/App.js
  src/Pages/Home/components/ContributorsCarousel.js
  src/Pages/Leaderboard/ContributorGuide.js
Labels: gssoc25, GSSoC, level3

#314 User Dashboard UI
  src/components/user/UserDashboard.js
Labels: gssoc25, GSSoC, level3

#324 Fix Floating Modal to Use New Navigation for Project Submission
  src/Pages/Projects/ProjectsPage.js
  src/Pages/Projects/SubmitProject.js
Labels: gssoc25, GSSoC, level3

#327 Added GSSoC Contribution Section under Leaderboard
  src/Pages/Leaderboard/ContributorGuide.js
  src/Pages/Leaderboard/GSSoCContribution.js
  src/Pages/Leaderboard/Leaderboard.jsx
Labels: gssoc25, GSSoC, level3

#329 fixed all links + add more link + add community event new page
  src/App.js
  src/components/CommunityEvent.js
  src/components/Layout/Footer.js
Labels: gssoc25, GSSoC, level3

#330 Designed CTA Section for Hackathon Page
  src/Pages/Hackathons/HackathonCTA.js
  src/Pages/Hackathons/HackathonPage.js
Labels: gssoc25, GSSoC, level3

#331 Designed CTA Section for Event Page
  src/Pages/Events/EventCTA.js
  src/Pages/Events/EventsPage.js
Labels: gssoc25, GSSoC, level3

#333 Add Project CTA section to showcase and manage projects
  src/Pages/Projects/ProjectCTA.js
  src/Pages/Projects/ProjectsPage.js
Labels: gssoc25, GSSoC, level3

#350 Unauthenticated Project submission fixed
  src/Pages/Projects/ProjectCTA.js
  src/Pages/Projects/ProjectHero.js
Labels: gssoc25, GSSoC, level3

#351 Added ScrollTo functionality for 'explore event' 'explore project' 'e…
  src/Pages/Events/EventHero.js
  src/Pages/Events/EventsPage.js
  src/Pages/Projects/ProjectHero.js
  src/Pages/Projects/ProjectsPage.js
Labels: gssoc25, GSSoC, level3

#355 Enhance Navbar UI/UX + adding guide link in dropdown
  src/components/Layout/Navbar.js
Labels: gssoc25, GSSoC, level3

#352 Fix/host hackathon access
  src/App.js
Labels: gssoc25, GSSoC, level3

#364 Make Floating Icon List Responsive & Hidden on Small Screens
  src/Pages/Projects/ProjectHero.js
Labels: gssoc25, GSSoC, level3

#373 Update 3rd rank badge color to improve distinction from gold
  src/Pages/Leaderboard/Leaderboard.jsx
Labels: gssoc25, GSSoC, level-2

#379 Added Fuzzy Search for Hackathon Page
  src/Pages/Hackathons/HackathonHero.js
  src/Pages/Hackathons/HackathonPage.js
Labels: gssoc25, GSSoC, level3

#381 Add Help Center Page
  src/App.js
  src/Pages/HelpCenter.js
  src/components/Layout/Footer.js
Labels: gssoc25, GSSoC, level3

#385 fixed 'start creating' button navigation
  src/Pages/About/Features.js
  src/components/ScrollToTop.js
Labels: gssoc25, GSSoC, level3

#394 Add Optional Contact field
  src/Pages/Contact/ContactUs.js
Labels: gssoc25, GSSoC, level3

#395 Fix Linkedin Link on Contact Page
  src/Pages/Contact/ContactUs.js
Labels: gssoc25, GSSoC, level-2

#396 Add asterisk mark on login page
  src/components/auth/Login.js
Labels: gssoc25, GSSoC, level-2

#414 Fix: Remove Duplicate Labels on Login Form
  src/components/auth/Login.js
Labels: gssoc25, GSSoC, level-2

#417 fix dark mode visibility
  src/App.js
Labels: gssoc25, GSSoC, level3

#421 Add Core Sections to API Documentation
  src/Pages/ApiDocs.js
Labels: gssoc25, GSSoC, level3

#422 Convert Static Category Cards to Navigation & Add New Links
  src/Pages/HelpCenter.js
Labels: gssoc25, GSSoC, level-2

#423 Add Modern "Back to Top" Button Across All Pages
  src/App.js
  src/components/ScrollToTop.js
Labels: gssoc25, GSSoC, level-2

#429 Add "Explore Hackathons" Button
  src/Pages/Hackathons/HackathonHero.js
Labels: gssoc25, GSSoC, level3

#431 Change Twitter Logo on Feedback Page
  src/Pages/Feedback/FeedbackPage.js
Labels: gssoc25, GSSoC, level-2

#430 Ref: Added login with google feature
  src/components/auth/Auth.css
  src/components/auth/Login.js
Labels: enhancement, gssoc25, GSSoC, level3

#432 Refactor social media links for consistency and clarity
  src/Pages/Feedback/FeedbackPage.js
Labels: gssoc25, GSSoC, level-2

#438 Edit Profile Page UI
  src/App.js
  src/components/user/EditProfile.js
Labels: gssoc25, GSSoC, level3

#442 Cleanup Navbar
  src/components/Layout/Navbar.js
Labels: gssoc25, GSSoC, level-2

#449 Remove Unwanted country code field from signup page
  src/Pages/Events/EventHero.js
  src/Pages/Events/EventsPage.js
  src/components/auth/Signup.js
Labels: gssoc25, GSSoC, level-2

#450 Improve Footer Layout by Relocating Social Media Icons
  src/components/Layout/Footer.js
Labels: gssoc25, GSSoC, level-2

#451 Add interactive hover effect to Theme Toggle Button
  src/components/common/ThemeToggleButton.js
Labels: gssoc25, GSSoC, level-2

#452 Add FAQ Section to header(open dedicated page)
  src/App.js
  src/Pages/FAQ/FAQPage.js
  src/components/Layout/Footer.js
  src/components/Layout/Navbar.js
Labels: gssoc25, GSSoC, level3

#453 fix: correct login request format and preserve redirect (issue #443)
  src/components/auth/Login.js
  src/components/auth/ProtectedRoute.js
  src/context/AuthContext.js
  src/index.js
Labels: gssoc25, GSSoC, level3

#456 Fix navbar spacing
  src/components/Layout/Navbar.js
  src/components/common/ThemeToggleButton.js
Labels: gssoc25, GSSoC, level3

#459 fix: cache and safe fetch for contributors & PR stats in GitHubStats
  src/Pages/Home/components/GitHubStats.jsx
Labels: gssoc25, GSSoC, level-2

#480 fix: resolve issue #460
  src/components/Layout/Navbar.js
  src/components/user/EditProfile.js
  src/context/AuthContext.js
Labels: gssoc25, GSSoC, level-3

#489 Fix Dark Mode Inconsistency on Hackathon Page
  src/Pages/Hackathons/HackathonCard.js
  src/Pages/Hackathons/HackathonHero.js
  src/Pages/Hackathons/HackathonPage.js
Labels: gssoc25, GSSoC, level-3

#491 Improve Dark Mode Color Consistency on Project Page
  src/Pages/Projects/ProjectCard.js
  src/Pages/Projects/ProjectHero.js
  src/Pages/Projects/ProjectsPage.js
Labels: gssoc25, GSSoC, level-2

#509 fixed mixed bg and event card
  src/Pages/Hackathons/HackathonCard.js
Labels: gssoc25, GSSoC, level-2

#510 Fix Project Cards Contrast in Light Mode
  src/Pages/Projects/ProjectCard.js
Labels: gssoc25, GSSoC, level-2

#511 Add "Subscribe to Our Newsletter" Component on Homepage
  src/Pages/Home/HomePage.jsx
  src/Pages/Home/components/NewsletterSubscribe.js
Labels: gssoc25, GSSoC, level-2

#512 Add About Page CTA Section
  src/Pages/About/AboutCTA .js
  src/Pages/About/AboutPage.js
Labels: gssoc25, GSSoC, level-3

#517 Fixed White Gap
  src/components/Layout/Navbar.js
Labels: gssoc25, GSSoC, level-2

#521 Enhance mobile nav: focus trap + ARIA for accessibility
  src/components/Layout/Navbar.js
Labels: gssoc25, GSSoC, level-2

#523 Enhanced the cards on Events page
  src/Pages/Events/EventCard.js
Labels: gssoc25, GSSoC, level-3

#522 Update README to address issue #<issue-number>
  README.md
Labels: gssoc25, GSSoC, level-2

#525 Add Floating Feedback Button on Middle Right Side
  src/App.js
  src/Pages/Feedback/FeedbackPage.js
  src/components/FeedbackButton.js
Labels: gssoc25, GSSoC, level-2

#526 Leaderboard: prevent zero data state by using cache-first and background refresh (#519)
  src/Pages/Leaderboard/Leaderboard.jsx
Labels: gssoc25, GSSoC, level-2

#527 Fixed Toggle Button CSS
  src/Pages/Home/components/Hero.js
  src/components/common/ThemeToggleButton.js
  src/components/user/UserDashboard.js
Labels: gssoc25, GSSoC, level-2

#529 Fixed the constantly failing issue workflow
  .github/workflows/issue-create-automate-message.yml
Labels: gssoc25, GSSoC, level-2

#534 Remove duplicate Theme Toggle button from footer
  src/components/Layout/Footer.js
Labels: gssoc25, GSSoC, level-2

#535 Fix message position in Toast component
  src/components/Layout/Footer.js
Labels: gssoc25, GSSoC, level-2

#536 Fix Explore Button Functionality
  src/Pages/Events/EventCard.js
Labels: gssoc25, GSSoC, level-3

#537 Contact Form Fixes
  src/Pages/Contact/ContactUs.js
Labels: gssoc25, GSSoC, level-3
