Repository SandeepVashishtha/Eventra, pull requests merged in 2025-10, with the labels that each got.

#575 Move message icon from bottom-right to bottom-left
  src/components/FeedbackButton.js
Labels: gssoc25, GSSoC, level-2, hacktoberfest-accepted

#576 Remove redundant “Follow Us” section from Contact page
  src/Pages/Contact/ContactUs.js
Labels: gssoc25, GSSoC, level-2, hacktoberfest-accepted

#577 Restore missing fields in Contact form
  src/Pages/Contact/ContactUs.js
Labels: gssoc25, GSSoC, level-2, hacktoberfest-accepted

#581 Fix inconsistent spacing in Feedback section for improved layout
  src/Pages/Feedback/FeedbackPage.js
Labels: gssoc25, GSSoC, level-2, hacktoberfest-accepted

#582 Enhance Reset Password page
  src/components/auth/PasswordReset.js
Labels: gssoc25, GSSoC, level-2, hacktoberfest-accepted

#585 chore(ui): remove 'Stay in the Loop' subscription section from homepage (#565)
  src/Pages/Home/HomePage.jsx
  src/Pages/Home/components/NewsletterSubscribe.js
Labels: gssoc25, GSSoC, level-2, hacktoberfest-accepted

#588 Made a minor commit, need to add "gssoc25" label
  frontend/build/manifest.json
Labels: enhancement, gssoc25, GSSoC, level-3

#586 Add Project Language
  src/Pages/Home/components/GitHubStats.jsx
  src/components/common/VerticalScrollBar.css
  src/components/common/VerticalScrollBar.jsx
Labels: gssoc25, GSSoC, level-3, Hacktobestfest, hacktoberfest-accepted

#589 Changed Navbar UI
  src/components/Layout/Navbar.js
Labels: enhancement, gssoc25, GSSoC, level-2, Hacktobestfest

#594 Remove "Follow Us" Section from Feedback Form
  src/Pages/Feedback/FeedbackPage.js
Labels: gssoc25, GSSoC, level-2, hacktoberfest-accepted

#595 Fix Dark Mode Styling on Forgot Password Page
  src/components/auth/PasswordReset.js
Labels: gssoc25, GSSoC, level-3, Hacktobestfest, hacktoberfest-accepted

#608 Toggle dropdown in terms
  src/Pages/Terms.js
Labels: gssoc25, GSSoC, level-3, Hacktobestfest, hacktoberfest-accepted

#615 Dropdown-privacy
  src/Pages/Privacy.js
Labels: gssoc25, GSSoC, level-3, Hacktobestfest, hacktoberfest-accepted

#640 Add Google Calendar integration to Event and Hackathon cards
  src/Pages/Events/EventCard.js
  src/Pages/Hackathons/HackathonCard.js
  src/utils/calendarUtils.js
Labels: enhancement, gssoc25, GSSoC, level-3, Hacktobestfest, hacktoberfest-accepted

#641 Modern CTA for FAQs Page
  src/Pages/FAQ/FAQPage.js
  src/Pages/FAQ/FaqCTA.jsx
Labels: gssoc25, GSSoC, level-2, Hacktobestfest

#643 Remove Irrelevant White Space in Dark Mode Between CTA Section and Footer
  src/Pages/HelpCenter.js
Labels: gssoc25, GSSoC, level-2, Hacktobestfest
